  {% extends "layout.html" %}
  {% block body %}
  <!-- Page Header -->
  <header class="masthead mb-0" style="background-image: url('{{url_for('static',filename='img/h1.jpg')}} ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Coding Thunder</h1>
            <span class="subheading">A Blog Liked by Programmer</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Content -->
   <!--message flashing-->
  {% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category,message in messages %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="close" data-dismissible="alert" aria-label="Close">
    <span ania-hidden="true">&times;></span>
  </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

  <div class="container">
  	<div class="row">
  		<div class="col-lg-8 col-md-10 mx-auto">
  {% for post in posts%}
 <div class="post-preview">
          <a href="/post/{{post.slug}}">
            <h2 class="post-title">{{post.title}}
            </h2>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Admin</a>
            {{post.date}}</p>
        </div>
        {{post.content[0:23]}}
        <hr>
        {% endfor %}
        
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-left" href="{{prev}}">&larr;Previous</a>
           <a class="btn btn-primary float-right" href="{{next}}">Next &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>
{% endblock %}
